.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.heading-text {
  color: gray;
  text-align: center;
}
